.menu {
  position: absolute;
  top: -75%;
  left: 15%;
  width: 70vw;
  height: 72.5vh;
  z-index: 100;
  background: rgba(0, 0, 0, 0.75);
  text-align: center;
  transition: 0.5s ease-in;
  overflow: scroll;
}
.menu .gameIMG {
  width: 25%;
  height: auto;
  margin-top: 1%;
}
.menu .gameTitle {
  color: white;
  margin-top: 3%;
  font-size: 2em;
  border-bottom: 1px solid white;
  display: inline-block;
}
.menu .descr {
  color: white;
  display: block;
  margin: 3% auto;
  width: 80%;
}
.menu .expansions {
  display: none;
  text-align: center;
}
.menu .expansions h2 {
  color: white;
  display: inline-block;
  border-bottom: 1px solid white;
}
.menu .expansions p {
  color: white;
  margin-top: 1%;
}
.menu .skills {
  text-align: center;
}
.menu .skills h2 {
  margin-top: 3%;
  color: white;
  display: inline-block;
  border-bottom: 1px solid white;
}
.menu .skills p {
  color: white;
  margin-top: 1%;
}
.menu .url {
  color: white;
  margin-top: 3%;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
}
.menu .players {
  text-align: center;
}
.menu .players h2 {
  margin-top: 3%;
  color: white;
  display: inline-block;
  border-bottom: 1px solid white;
}
.menu .players p {
  color: white;
  margin-top: 1%;
}
.menu .explainerContainer {
  text-align: center;
}
.menu .explainerContainer h2 {
  margin-top: 3%;
  color: white;
  display: inline-block;
  border-bottom: 1px solid white;
}
.menu .explainerContainer p {
  color: white;
  margin-top: 1%;
}
.menu .timeContainer {
  text-align: center;
}
.menu .timeContainer h2 {
  margin-top: 3%;
  color: white;
  display: inline-block;
  border-bottom: 1px solid white;
}
.menu .timeContainer p {
  color: white;
  margin-top: 1%;
}
.menu .youtube iframe {
  width: 30vw;
  height: 20vh;
  display: block;
  margin: 3% auto;
}
.menu .delete {
  width: 15%;
  height: 5%;
  border-radius: 5%;
  background: transparent;
  color: white;
  text-align: center;
  font-size: 1em;
  display: inline-block;
  margin: 3%;
  transition: 0.3s ease-out;
  cursor: pointer;
}
.menu .delete:hover {
  transform: scale(1.1, 1.1);
}
.menu .edit {
  width: 15%;
  height: 5%;
  border-radius: 5%;
  background: transparent;
  color: white;
  text-align: center;
  font-size: 1em;
  display: inline-block;
  margin: 3%;
  transition: 0.3s ease-out;
  cursor: pointer;
}
.menu .edit:hover {
  transform: scale(1.1, 1.1);
}
.menu .closemenu {
  color: white;
  position: absolute;
  top: 3%;
  right: 3%;
  font-size: 2em;
  font-weight: 900;
  cursor: pointer;
  transition: 0.1s ease-out;
}
.menu .closemenu:hover {
  transform: scale(1.1, 1.1);
}
.menu .noDelete {
  display: none;
}
.menu .confirmDelete {
  display: none;
}

.confirm {
  display: none;
  width: 69.8%;
  height: 72.5%;
  background: rgba(0, 0, 0, 0.75);
  position: absolute;
  top: 0%;
  left: 15%;
  color: white;
  border: 1px solid white;
  text-align: center;
  z-index: 50;
}
.confirm .confirmTXT {
  margin-top: 5%;
}
.confirm .confirmDelete {
  position: absolute;
  bottom: 10%;
  right: 10%;
  font-size: 1.2em;
  transition: 0.1s ease-out;
  cursor: pointer;
}
.confirm .confirmDelete:hover {
  transform: scale(1.1, 1.1);
}
.confirm .noDelete {
  position: absolute;
  bottom: 10%;
  left: 10%;
  font-size: 1.2em;
  transition: 0.1s ease-out;
  cursor: pointer;
}
.confirm .noDelete:hover {
  transform: scale(1.1, 1.1);
}

/*# sourceMappingURL=menu.css.map */
