*{
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

.main{
	background-color: #222222;
	.container{
		width: 100vw;
		height: 100vh;
		.names{
			width: 15vw;
			height: 72vh;
			.char{
			    width: 15vw;
			    height: 12vh;
			    border-bottom: 1px solid white;
			    position: relative;
			    background: #595959;
			    .avatar{
					width: 35%;
					height: 75%;
					position: absolute;
					top: 10%;
					left: 3%;
			    }
			    .avatarTXT{
					font-size: 1em;
					color: white;
					position: absolute;
					left: 45%;
					line-height: 12.5vh;
			    }
			}
		}
		.table{
			width: 70%;
			height: 72.5vh;
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			background-color: #595959;
			position: absolute;
			left: 15%;
			top: 0%;
			.deletemsg{
				position: absolute;
				top: 107%;
				left: 10%;
				width: 80%;
				height: 5%;
				background: rgb(38, 85, 38);
				color: white;
				text-align: center;
				padding-top: 2%;
			}
			.gridcolumn{
				height: 72.5vh;
				width: 16.7vw;
				border: 1px dotted white;
				position: relative;
				div{
					text-align: center;
					border: 1px solid white;
					transition: 0.1s ease-out;
				}
				.timeTXT{
					color: white;
					position: absolute;
				    z-index: 10;
				}
			}
		}
	}
}